/**
 * sass/theme/layouts/flexbox.scss
 * @package scottshealy
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2022
**/

.flexbox {
    // GLOBAL
        display: flex;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL
        @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
        @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

    &-row {
        // GLOBAL
            @extend .flexbox;
            flex-direction: row;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        &-reverse {
            // GLOBAL
                @extend .flexbox-row;
                flex-direction: row-reverse;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-ROW-REVERSE
    } //.FLEXBOX-ROW

    &-column {
        // GLOBAL
            @extend .flexbox;
            flex-direction: column;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        &-reverse {
            // GLOBAL
                @extend .flexbox-column;
                flex-direction: column-reverse;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-COLUMN-REVERSE
    } //.FLEXBOX-COLUMN

    &-horizontal {
        // GLOBAL
            @extend .flexbox;
            flex-direction: row;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        &-left {
            // GLOBAL
                @extend .flexbox-horizontal;
                justify-content: flex-start;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-HORIZONTAL-LEFT

        &-right {
            // GLOBAL
                @extend .flexbox-horizontal;
                justify-content: flex-end;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-HORIZONTAL-RIGHT

        &-center {
            // GLOBAL
                @extend .flexbox-horizontal;
                justify-content: center;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-HORIZONTAL-CENTER

        &-spacebetween {
            // GLOBAL
                @extend .flexbox-horizontal;
                justify-content: space-between;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-HORIZONTAL-SPACEBETWEEN

        &-spacearound {
            // GLOBAL
                @extend .flexbox-horizontal;
                justify-content: space-around;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-HORIZONTAL-SPACEAROUND
    } //.FLEXBOX-HORIZONTAL

    &-vertical {
        // GLOBAL
            @extend .flexbox;
            flex-direction: column;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        &-top {
            // GLOBAL
                @extend .flexbox-vertical;
                align-items: flex-start;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-VERTICAL-TOP

        &-bottom {
            // GLOBAL
                @extend .flexbox-vertical;
                align-items: flex-end;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-VERTICAL-BOTTOM

        &-center {
            // GLOBAL
                @extend .flexbox-vertical;
                align-items: center;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-VERTICAL-CENTER

        &-baseline {
            // GLOBAL
                @extend .flexbox-vertical;
                align-items: baseline;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-VERTICAL-BASELINE

        &-stretch {
            // GLOBAL
                @extend .flexbox-vertical;
                align-items: stretch;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-VERTICAL-STRETCH

        &-spacebetween {
            // GLOBAL
                @extend .flexbox-vertical;
                align-items: space-between;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-VERTICAL-SPACEBETWEEN

        &-spacearound {
            // GLOBAL
                @extend .flexbox-vertical;
                align-items: space-around;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-VERTICAL-SPACEAROUND
    } //.FLEXBOX-VERTICAL

    &-center {
        // GLOBAL
            @extend .flexbox;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        &-all {
            // GLOBAL
                @extend .flexbox-center;
                align-items: center;
                justify-content: center;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-CENTER-ALL
    } //.FLEXBOX-CENTER

    &-wrap {
        // GLOBAL
            @extend .flexbox;
            flex-wrap: wrap;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        &-none {
            // GLOBAL
                @extend .flexbox;
                flex-wrap: nowrap;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-WRAP-NONE

        &-reverse {
            // GLOBAL
                @extend .flexbox;
                flex-wrap: wrap-reverse;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.FLEXBOX-WRAP-REVERSE
    } //.FLEXBOX-WRAP
    
} //.FLEXBOX