/**
 * sass/theme/layouts/wrappers.scss
 * @package scottshealy
 * @author Scott Shealy
 * @version 1.0.0
 * @copyright 2022
**/

.wrapper {
    // GLOBAL
        margin: 0.00rem auto;

    // MOBILE
        @media #{$screen-xs} {} //.COL-XS
        @media #{$screen-sm} {} //.COL-SM
        @media #{$screen-md} {} //.COL-MD
        @media #{$device-mobile} {} //.MOBILE

    // DESKTOP
        @media #{$device-desktop} {} //.DESKTOP
        @media #{$screen-lg} {} //.COL-LG
        @media #{$screen-xl} {} //.COL-XL
        @media #{$screen-xxl} {} //.COL-XXL
        @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
        @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

    &-full {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;
            min-width: 100.00%;
            max-width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG

        &-screen {
            // GLOBAL
                @extend .wrapper-full;
                height: 100.00vh;
                min-height: 100.00vh;
                max-height: 100.00vh;

            // MOBILE
                @media #{$screen-xs} {} //.COL-XS
                @media #{$screen-sm} {} //.COL-SM
                @media #{$screen-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$screen-lg} {} //.COL-LG
                @media #{$screen-xl} {} //.COL-XL
                @media #{$screen-xxl} {} //.COL-XXL
                @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
                @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
        } //.WRAPPER-FULL-SCREEN
    } //.WRAPPER-FULL

    &-content {
        // GLOBAL
            @extend .wrapper;
            width: $site-width-min;
            max-width: $site-width-content !important;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {
                width: 100.00%;
            } //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {
                width: $site-width-content;
            } //.CONTENT-WIDTH-LG
    } //.WRAPPER-CONTENT

    &-header {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {
                padding-left: $body-mobile-gutter;
                padding-right: $body-mobile-gutter;
            } //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {
                padding-left: $padding-none;
                padding-right: $padding-none;
            } //.CONTENT-WIDTH-LG
    } //.WRAPPER-HEADER

    &-footer {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {
                padding-left: $body-mobile-gutter;
                padding-right: $body-mobile-gutter;
            } //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {
                padding-left: $padding-none;
                padding-right: $padding-none;
            } //.CONTENT-WIDTH-LG
    } //.WRAPPER-FOOTER

    &-hero {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
    } //.WRAPPER-HERO

    &-section {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
    } //.WRAPPER-SECTION

    &-banner {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;

        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
    } //.WRAPPER-BANNER

    &-none {
        // GLOBAL
            @extend .wrapper;
            width: 100.00%;
            padding: $padding-none;
            
        // MOBILE
            @media #{$screen-xs} {} //.COL-XS
            @media #{$screen-sm} {} //.COL-SM
            @media #{$screen-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$screen-lg} {} //.COL-LG
            @media #{$screen-xl} {} //.COL-XL
            @media #{$screen-xxl} {} //.COL-XXL
            @media #{$content-width-sm} {} //.CONTENT-WIDTH-SM
            @media #{$content-width-lg} {} //.CONTENT-WIDTH-LG
    } //.WRAPPER-NONE

} //.WRAPPER